<section class="about-me" id="about-me">
  <div class="about-me-content">
    <img src="https://media.licdn.com/dms/image/D4E03AQG6wUXjRehccw/profile-displayphoto-shrink_800_800/0/1681925334774?e=1722470400&v=beta&t=iXXBVvnd4-ED79LzVbataXvhgg2lzYdFX3PoD3Tgtf4" alt="Brent Simons">
    <div class="text">
      <h2>Over mij</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed magna non nisi interdum aliquam. Donec tristique ligula at ligula finibus, non auctor ligula dignissim. Sed eu leo elit.</p>
      <p>Integer nec odio et magna bibendum vestibulum. Nullam consectetur fermentum lorem, ac malesuada eros. Vivamus consectetur diam a ligula faucibus, ut eleifend justo rhoncus.</p>
      <div>
        <button class="button-primary">Mijn CV</button>
      </div>
    </div>
  </div>
</section>
