<section class="about-me" id="about-me">
  <div class="about-me-content">
    <img src="./profile_picture.jpg" alt="Brent Simons">
    <div class="text">
      <h2>Over mij</h2>
      <p>Ik ben een 20-jarige student aan de Thomas More hogeschool in Geel, waar ik Toegepaste Informatica studeer met een specialisatie in Application Development. Mijn passie binnen de IT is breed, maar als ik een favoriete taal zou moeten kiezen, is dat programmeren met Java/Springboot. Buiten de IT kun je me vinden in mijn hobby's: airsoften en werken aan mijn oldtimerauto.</p>
      <h3>Nog wat praktische informatie:</h3>
      <div class="practical-info">
        <div>
      <ul>
        <li><span class="bold">Talen</span>: Nederlands, Engels en Frans</li>
        <li><span class="bold">Adres</span>: Hamont, Limburg, België</li>
        <li><span class="bold">Rijbewijs</span>: B</li>
        <li><span class="bold">Geboortedatum</span>: 11/08/2003</li>
      </ul>
        </div>
      <div class="button-box">
        <button class="button-primary">Mijn CV</button>
      </div>
      </div>
    </div>
  </div>
</section>
