<section class="about-me" id="about-me">
  <div class="about-me-content">
    <img alt="Brent Simons" src="./profile_picture.jpg" />
    <div class="text">
      <h2>Over mij</h2>
      <p class="text-small">
        Ik ben een 20-jarige student aan Thomas More in Geel, waar ik
        <span class="bold">
          Toegepaste Informatica studeer met een specialisatie in Application
          Development.
        </span>
        Mijn passie binnen de IT is breed, maar als ik een favoriete taal zou
        moeten kiezen, is dat programmeren met <span class="bold"
          >Java in Springboot.</span
        >
        Buiten de IT kun je me vinden in mijn hobby's: airsoften en werken aan
        mijn oldtimerauto.
      </p>
      <h3>Nog wat praktische informatie:</h3>
      <div class="practical-info">
        <div>
          <ul>
            <li>
              <span class="bold">Talen</span>: Nederlands, Engels en Frans
            </li>
            <li><span class="bold">Adres</span>: Hamont, Limburg, België</li>
            <li><span class="bold">Rijbewijs</span>: B</li>
            <li><span class="bold">Geboortedatum</span>: 11/08/2003</li>
            <li><span class="bold">Email</span>: <a href="mailto:brentsimons1@gmail.com">brentsimons1&commat;gmail.com</a></li>
          </ul>
        </div>
        <div class="button-box">
          <a
            class="button-primary"
            href="./documents/brentsimons-cv.pdf"
            target="_blank"
            >Mijn CV</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
