@import '../../../variables';

* {
  margin: 0;
  padding: 0;
}

.about-me {
  .about-me-content {
    max-width: 1000px;
    display: flex;
    align-items: center;

    @media screen and (max-width: $media-query-medium){
      flex-direction: column;

      img {
        margin-bottom: 3rem;
      }
    }

    img {
      margin-top: 15px;
      width: 40%;
      border-radius: 50%;
      margin-right: 3rem;
    }

    .text {
      max-width: 80%;
      text-align: center;

      @media screen and (min-width: $media-query-small){
        max-width: 70%;
        text-align: justify;
      }

      @media screen and (min-width: $media-query-medium){
        max-width: 60%;
      }

      h2 {
        margin-bottom: 20px;
      }

      h3 {
        font-size: 1.2rem;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      p,
      ul {
        text-align: justify;
        margin-bottom: 5px;
      }

      ul {
        li {
          margin-left: 22px;
        }
      }

      ul {
        margin-bottom: 15px !important;
      }

      .button-primary {
        padding: 10px 20px !important;
      }

      .practical-info {
        margin-top: 20px;

        .button-box {
          margin-top: 1.5rem;
        }
      }
    }
  }
}
