@import '../../../variables';

$hero-background-image: url('https://images.pexels.com/photos/2004161/pexels-photo-2004161.jpeg');
$hero-height: 100vh;

.hero {
  background: $primary-color $hero-background-image no-repeat center center;
  background-size: cover;
  color: $white-color;
  height: $hero-height;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;

  .hero-content {
    max-width: 800px;

    h1 {
      font-size: 3rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    .cta-button {
      background-color: $white-color;
      color: $primary-color;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      font-size: 1rem;

      &:hover {
        background-color: darken($white-color, 10%);
      }
    }
  }
}
