<section class="internship" id="internship">
  <div class="container">
    <h2>Internship</h2>
    <div class="internship-content">
      <div class="internship-left">
        <img src="https://zicovanheuckelom.be/assets/img/Continuum_LOGO_Verticaal.png" alt="Company Logo" class="logo">
        <img src="https://zicovanheuckelom.be/assets/img/building.jpg" alt="Internship Picture" class="picture">
      </div>
      <div class="internship-right">
        <h5>Internship Title</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet consectetur purus nec scelerisque.</p>
        <p>Curabitur efficitur, justo at dapibus varius, mi tortor varius felis, nec faucibus libero leo id metus.</p>
        <div class="buttons">
          <button class="button-primary">Button 1</button>
          <button class="button-primary">Button 2</button>
          <button class="button-primary">Button 3</button>
          <button class="button-primary">Button 4</button>
        </div>
      </div>
    </div>
  </div>
</section>
