<section class="internship" id="internship">
  <div class="container">
    <h2>Stage</h2>
    <div class="internship-content">
      <div class="internship-left">
        <img
          alt="Company Logo"
          class="logo"
          src="./internship/continuum-logo.jpg"
        />
        <img
          alt="Internship Picture"
          class="picture"
          src="./internship/picture_wall.jpg"
        />
      </div>
      <div class="internship-right">
        <h5>Stage: Knowledge Checker</h5>
        <p>
          Tijdens mijn studie aan Thomas More heb ik stage gelopen bij
          Continuum-Jidoka in Hasselt en Mechelen. Gedurende deze stage kreeg ik
          de kans om te werken aan een interne applicatie voor het bijhouden van
          interviewvragen. Mijn belangrijkste taak was het implementeren van
          AI-functionaliteiten voor het genereren van interviewvragen, het onderzoeken
          van hoe we deze AI-functionaliteiten kunnen implementeren en het
          maken van een verificatiesysteem voor deze vragen.
        </p>
        <p>Concreet ontwikkelde ik dus twee systemen:</p>
        <ul>
          <li>
            <span class="bold">Een AI-gebaseerd vraaggeneratiesysteem.</span>
          </li>
          <li>
            <span class="bold"
              >Een verificatiesysteem voor de gegenereerde vragen.</span
            >
          </li>
        </ul>
        <p>
          Naast deze ontwikkelingen voerde ik ook onderhoud uit
          aan de applicatie, waaronder de upgrade van Spring van versie 2.7 naar
          3.2.
        </p>
        <p>
          De hoofd ervaringen die ik meeneem uit mijn stage zijn onder andere:
        </p>
        <ul>
          <li><span class="bold">Werken met Springboot</span></li>
          <li><span class="bold">Werken met Angular</span></li>
          <li><span class="bold">Test Driven Development</span></li>
          <li><span class="bold">AI Onderzoek</span></li>
          <li><span class="bold">Spring Framework Training</span></li>
          <li><span class="bold">Designs maken in Figma</span></li>
        </ul>
        <div class="buttons">
          <a
            class="button-primary"
            href="./documents/continuum-aanbevelingsbrief.pdf"
            target="_blank"
          >Aanbevelingsbrief</a
          >
          <a
            class="button-primary"
            href="./documents/brentsimons-plan-van-aanpak.pdf"
            target="_blank"
            >Plan van aanpak</a
          >
          <a
            class="button-primary"
            href="./documents/brentsimons-realisatie-stage.pdf"
            target="_blank"
            >Realisaties</a
          >
          <a
            class="button-primary"
            href="./documents/brentsimons-reflectie-stage.pdf"
            target="_blank"
            >Reflectie</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
