<footer>
  <div class="container">
    <div class="footer-section-container">
      <div class="footer-section">
        <h3>Contact me!</h3>
        <p><a href="mailto:brentsimons1@gmail.com">brentsimons1&commat;gmail.com</a></p>
      </div>
      <div class="footer-section">
        <h3>Find me here!</h3>
        <p class="social-links">
          <a href="https://www.linkedin.com/in/brent-simons-5b3867252" target="_blank" id="linked-in"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/BrentSimons" target="_blank" id="github"><i class="fab fa-github"></i></a>
          <a href="https://x.com/brent_s1" target="_blank" id="twitter"><i class="fab fa-x"></i></a>
        </p>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; Brent Simons {{getCurrentYear()}}</p>
    </div>
  </div>
</footer>
