@import '../../../variables';

* {
  margin: 0;
  padding: 0;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgba($primary-color, 0.7);
  color: $white-color;



  .nav-left {
    .nav-item:first-child {
      margin-left: 110px;
    }  }

  .nav-right {
    display: flex;
    justify-content: right;
    gap: 10px;
    .nav-item:last-child {
      margin-right: 110px;
    }
  }
}

.nav-item {
  height: 40px;
  cursor: pointer;
  text-align: center;
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.1rem;
  border-bottom: 1px solid $white-color;
}
