<nav class="navbar-top">
  <div class="nav-left">
    <div (click)="navigateHome()" class="nav-item">Voorpagina</div>
  </div>

  <div class="nav-right">
    @if (homePage) {
      <div (click)="scrollToAboutMe()" class="nav-item">Over mij</div>
      <div (click)="scrollToEducation()" class="nav-item">Opleiding</div>
      <div (click)="scrollToSkills()" class="nav-item">Vaardigheden</div>
      <div (click)="scrollToProjects()" class="nav-item">Portfolio</div>
      <div (click)="scrollToInternship()" class="nav-item">Stage</div>
    }
  </div>
</nav>
