@import 'variables';

body {
  background-color: $background-color;
  color: $primary-color;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.button-primary {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: $light-grey;
  border: lighten($primary-color, 40%) solid 3px;
  border-radius: 5px;
  color: $primary-color;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($light-grey, 10%);
  }
}

.bold {
  font-weight: bold;
}
