@import 'variables';

body {
  background-color: $background-color;
  color: $primary-color;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.button-primary {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: $light-grey;
  border: lighten($primary-color, 40%) solid 3px;
  border-radius: 5px;
  color: $primary-color;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($light-grey, 10%);
  }
}

.text-small {
  font-size: 18px;
  margin-bottom: 10px;
}
.text-petite {
  font-size: 16px;
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
}


h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

p, li, a, button {
  font-size: 1.2rem;
}

.paragraph-card {
  background-color: $background-color;
  border: 1px solid $border-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px!important;
  margin-bottom: 20px;
}
