$primary-color: #27384c;
$white-color: #fdfdfd;
$background-color: #f4f4f4;
$alternative-background-color: #f1f1f1;

$light-grey: #ececec;
$border-color: $light-grey;

$grey: #b1b0b0;

$footer-height: 160px;

$media-query-tiny: 396px;
$media-query-small: 568px;
$media-query-medium: 850px;
$media-query-large: 1196px;
