<section class="education" id="education">
  <div class="container">
    <h2>Opleiding</h2>
    <div class="education-item">
      <div class="education-content">
        <div class="education-details">
          <h3>
            <span class="name">Thomas More Geel</span>
            <span class="year">2021 - heden</span>
          </h3>
          <p class="text-small">
            Bachelor Toegepaste Informatica: Application Development
          </p>
          <p class="text-petite">
            In deze opleiding heb ik geleerd
            <span class="bold">een full-stack developer</span> te worden. Ik
            begon met een sterke en
            <span class="bold">brede basis in IT</span> , waaronder
            Python-scripting, Java MVC met Springboot, IoT, Linux , hosting en
            meer. In mijn tweede jaar heb ik geleerd over PHP en Laravel,
            Docker, Kubernetes en DevOps, evenals backend-ontwikkeling met
            <span class="bold">ASP.NET en Springboot</span> . In het laatste
            jaar hebben we front-end frameworks zoals
            <span class="bold">React en Angular</span> geleerd, maar ook Flutter
            en React Native voor Android- apps. Daarnaast hebben we ons verdiept
            in backend-microservices.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
