@import '../../../../variables';

section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-bottom: 40px;
  background: $background-color;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;

  div {
    h3 {
      margin-top: 10px;
      font-size: 1.5em;
      border-bottom: 2px solid $primary-color;
      padding-bottom: 5px;
    }

    p {
      margin-bottom: 10px;
      font-size: 1.2em;
    }
  }

  div:last-child {
    margin-top: 50px;
  }
}
