<section class="skills" id="skills">
  <div class="container">
    <h2>Skills</h2>
    <p>Dit zijn mijn vaardigheden:</p>
    <div class="skills-row">
      <div class="skills-column">
        <app-skill-bar
          *ngFor="let skill of columnOne"
          [skill]="skill"
        ></app-skill-bar>
      </div>
      <div class="skills-column">
        <app-skill-bar
          *ngFor="let skill of columnTwo"
          [skill]="skill"
        ></app-skill-bar>
      </div>
    </div>
  </div>
</section>
